@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  scroll-behavior: smooth;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Amiri";
  background-color: rgb(255, 251, 228);
  font-size: 1.9rem;
  font-weight: 400;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* --------------- */
[class*=__container] {
  padding: 0 1rem 0 1rem;
  max-width: 90rem;
  margin: 0 auto;
}
@media (min-width: 125rem) {
  [class*=__container] {
    max-width: 110rem;
  }
}
@media (max-width: 75rem) {
  [class*=__container] {
    padding: 0 1rem 0 1rem;
  }
}

/* @mixin buttons($width: 5.69rem, $height: 3rem, $color:$color1,$backgroundColor: #5b6cff){
height: 3rem;
    width: $width;
    height: $height;
    color: $color;
    background: $backgroundColor;
    border-radius: 4rem;
    padding: 23px;
    line-height: 0;
    transition: all 0.6s ease;
    text-align: center;
    @media (any-hover: hover){
        &:hover {
            background: $color5;
            color: $color1;
        }
    }
}  */
.first-page {
  max-width: 100%;
  min-height: 100vh;
  background: url("../img/backFirstPage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: rgb(255, 255, 255);
  margin-bottom: 5cqb;
}

.content__container {
  min-height: 100vh;
  display: grid;
  row-gap: 1rem;
  grid-template-rows: 15cqb 60cqb 22cqb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 31.25rem) {
  .content__container {
    grid-template-rows: 15cqb 50cqb 22cqb;
    row-gap: 2rem;
  }
}
@media (max-width: 21.9rem) {
  .content__container {
    row-gap: 1rem;
    grid-template-rows: 15cqb 50cqb 22cqb;
  }
}
.content__logo {
  max-width: 16.25rem;
  margin: 0 auto;
}
.content__title {
  font-size: 25px;
  line-height: 140%;
  font-weight: bold;
  text-align: center;
  max-width: 1039px;
  margin: 0 auto;
}
@media (max-width: 21.9rem) {
  .content__title {
    font-size: 1.2rem;
  }
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 250px;
  cursor: pointer;
  padding-top: 2px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
.btn:focus {
  outline: none;
  border: none;
}

.btn-one {
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  top: 10px;
}
.btn-one span {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 2px;
  z-index: 2;
}
.btn-one span::after {
  content: url("../img/icons/arrowWite.svg");
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-one::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0.1, 1);
      -ms-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}
.btn-one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
  border: 1px solid rgb(255, 251, 228);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgb(31, 8, 40);
}

@media (any-hover: hover) {
  .btn-one:hover span::after,
  .btn-one:focus span::after {
    left: 3.5rem;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }
  .btn-one:hover span,
  .btn-one:focus span {
    letter-spacing: 10px;
  }
  .btn-one:hover::before,
  .btn-one:focus::before {
    opacity: 1;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .btn-one:hover::after,
  .btn-one:focus::after {
    opacity: 0;
    -webkit-transform: scale(0.1, 1);
        -ms-transform: scale(0.1, 1);
            transform: scale(0.1, 1);
  }
}
.form {
  width: 100%;
  margin: 0 auto;
}
.form__container {
  text-align: center;
  position: relative;
}
.form__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
}
@media (max-width: 52.1rem) {
  .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
}
.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 100;
  background: rgba(53, 8, 71, 0.75) url("../img/gif/loading.gif") center/200px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.form__title {
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  margin-bottom: 14px;
}
.form__item {
  max-width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  line-height: 53px;
  font-weight: 300;
  color: rgb(31, 8, 40);
}
.form__item:nth-of-type(3) {
  grid-column: span 2/span 2;
  row-gap: 27px;
  width: 80%;
  font-weight: 700;
  line-height: 53px;
  text-align: center;
  margin-bottom: 14px;
}
.form__label span {
  color: red;
}
.form__input {
  border: 1px solid rgb(31, 8, 40);
  border-radius: 10px;
  padding: 0 30px 0 30px;
  background: rgb(255, 251, 228);
  font-style: italic;
  font-weight: 300;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__input._error {
  border: 1px solid red;
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.form__container .btn-one {
  grid-column: span 2/span 2;
  text-align: center;
  margin-bottom: 14px;
}
.form__container .btn-one span::after {
  content: url("../img/icons/arrowBlue.svg");
}
.form__container .btn-one:hover span {
  letter-spacing: 10px;
  color: rgb(31, 8, 40);
}
.form__container .btn-one:focus span {
  letter-spacing: 10px;
  color: rgb(31, 8, 40);
}
.form__container .btn-one::before {
  border-top-color: rgb(31, 8, 40);
  border-bottom-color: rgb(31, 8, 40);
}

@media (any-hover: hover) {
  .form__container .btn-one:hover span::after,
  .form__container .btn-one:focus span::after {
    left: 3.5rem;
    bottom: 8rem;
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }
}
.test__container {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.test__container h1 {
  padding: 400px 0;
  font-size: 5rem;
  color: rgb(31, 8, 40);
  width: 80%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer {
  display: block;
  margin-top: 100px;
}