//кнопка

/* @mixin buttons($width: 5.69rem, $height: 3rem, $color:$color1,$backgroundColor: #5b6cff){
height: 3rem;
    width: $width;
    height: $height;
    color: $color;
    background: $backgroundColor;
    border-radius: 4rem;
    padding: 23px;
    line-height: 0;
    transition: all 0.6s ease;
    text-align: center;
    @media (any-hover: hover){
        &:hover {
            background: $color5;
            color: $color1;
        }
    }
}  */
