//font size
$fs1: 1.9rem; //30px
$fs2: 1.25rem;//20px
$fs3: 2.8rem;

//color
$color1: rgba(255, 251, 228, 1);//background
$color2: rgba(255, 255, 255, 1.00);//white
$color3: rgb(31, 8, 40);//black
$color4: rgba(53, 8, 71, 0.75);//purple 


*,
*::before,
*::after {
padding: 0;
margin: 0;
border: 0;
}

a {
text-decoration: none;
color: inherit;
}

li {
list-style: none;
}

img {
vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: inherit;
font-size: inherit;
}

html,
body {
height: 100%;
line-height: 1;
scroll-behavior: smooth;
}

textarea,
button,
input {
font-weight: inherit;
font-size: inherit;
color: inherit;
font-family: inherit;
}

button {
cursor: pointer;
background-color: inherit;
}

body {
    font-family: 'Amiri';
    background-color: $color1;
    font-size: $fs1;
    font-weight: 400;
}

.wrapper {
overflow: clip;
min-height: 100%;
display: flex;
}

.wrapper > main {
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
}

/* --------------- */
[class*=__container] {
padding: 0 1rem 0 1rem;
max-width: 90rem;
margin: 0 auto;
@media (min-width: 125rem) {
    max-width: 110rem;
}
@media (max-width: 75rem) {
    padding: 0 1rem 0 1rem;
    }
}