@import "_reset.scss";
@import "_mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//first page starts
.first-page {
    max-width: 100%;
    min-height: 100vh;
    background: url("../img/backFirstPage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $color2;
    margin-bottom: 5cqb;//----------
}
.content {
    
    // .content__container
    &__container {
        min-height: 100vh;
        display: grid;
        row-gap: 1rem;
        grid-template-rows: 15cqb 60cqb 22cqb;
        align-items: center;
        @media (max-width: 31.25rem) {
            grid-template-rows: 15cqb 50cqb 22cqb;
            row-gap: 2rem;
        }
        @media (max-width: 21.9rem) {
            row-gap: 1rem;
            grid-template-rows: 15cqb 50cqb 22cqb;

        }
    }

    // .content__logo
    &__logo {
        //padding-top: 6cqb;
        max-width: 16.25rem;
        margin: 0 auto;
    }

    // .content__title
    &__title {
        font-size: 25px;
        line-height: 140%;
        font-weight: bold;
        text-align: center;
        max-width: 1039px;
        margin: 0 auto;
        @media (max-width: 21.9rem) {
            font-size: 1.2rem;
        }
    }
}

// button
.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    position: relative;
    width: 250px;
    cursor: pointer;
    padding-top: 2px;
    margin: 0 auto;
    scroll-behavior: smooth;
    &:focus{
        outline: none;
        border: none;
    }
    
}

.btn-one {
    color: $color2;
    transition: all 0.3s;
    position: relative;
    top: 10px;
    span{
        position: relative;
        transition: all 0.3s;
        letter-spacing: 2px;
        z-index: 2;
        &::after{
            content: url("../img/icons/arrowWite.svg");
            position: absolute;
            top: 4rem;
            left: 2.5rem;
            transition: all 0.5s;
        }
    }
    
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255,255,255,0.5);
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
    }
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 10px;
        border: 1px solid $color1;
        transition: all 0.3s;
        background-color: $color3;
    }
}
@media (any-hover: hover){
    .btn-one:hover span::after,
    .btn-one:focus span::after{
        left: 3.5rem;
        transform: scale(1.5);
    }
    .btn-one:hover span,
    .btn-one:focus span{
        letter-spacing: 10px;
    }
    .btn-one:hover::before,
    .btn-one:focus::before {
        opacity: 1; 
        transform: scale(1, 1); 
    }
    .btn-one:hover::after,
    .btn-one:focus::after  {
        opacity: 0; 
        transform: scale(0.1, 1);
    }
}
//first page ends

//forms name starts
.form {
    width: 100%;
    
    margin: 0 auto;
    // .form__container
    &__container {
        text-align: center;
        position: relative;
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;//-----
        @media (max-width: 52.1rem) {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
        } 
        //loading
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            z-index: 100;
            background: $color4 url('../img/gif/loading.gif') center / 200px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease 0s;
        }
    }
    

    // .form__title
    &__title {
        font-weight: 700;
        line-height: 53px;//---
        text-align: center;
        margin-bottom: 14px;
    }

    // .form__item
    &__item {
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        line-height: 53px;//----
        font-weight: 300;
        color: $color3;
        &:nth-of-type(3){
            grid-column: span 2 / span 2;
            row-gap: 27px;//------
            width: 80%;//----
            font-weight: 700;
            line-height: 53px;//---
            text-align: center;
            margin-bottom: 14px;
            
        }
        
    }

    // .form__label
    &__label {
        span{
            color: red;
        }
    }

    // .form__input
    &__input {
        border: 1px solid $color3;
        border-radius: 10px;
        padding: 0 30px 0 30px;//---
        background: $color1;
        font-style: italic;
        font-weight:300;
        
    }
}
//loading visibility
.form__body._sending::after{
        opacity: 1;
        visibility: visible;
    }
.form__input._error{
    box-shadow: 0 0 15px red;
}
.form__container .btn-one{
            grid-column: span 2 / span 2;
            text-align: center;
            margin-bottom: 14px;
    span {
        &::after{
            content: url("../img/icons/arrowBlue.svg");

        }
    }
    &:hover span{
        letter-spacing: 10px;
        color: $color3;
    }
    &:focus span{
        letter-spacing: 10px;
        color: $color3;
    }
    &::before{
        border-top-color: $color3;
        border-bottom-color: $color3;
    }
    
    
}
@media (any-hover: hover){
    .form__container .btn-one:hover span::after,
    .form__container .btn-one:focus span::after{
        left: 3.5rem;
        bottom: 8rem;
        transform: scale(1.4);
    }
    }
//forms name ends


//test start
//test end
.footer{
    display: block;
    margin-top: 100px;
}